html,
body,
.sidenavApp {
  padding: 0;
  margin: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
}
.content-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity .2s;
  display: none;
}
.backdrop.ng-animate {
  display: block;
}
.backdrop.ng-animate.open-add-active {
  z-index: 20;
  opacity: 1;
}
.backdrop.open {
  display: block;
  opacity: 1;
}
.content {
  width: 100%;
  height: 100%;
  z-index: 10;
}
.sidenav {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 30;
}
.sidenav-left {
  left: -410px;
  width: 400px;
  transition: left .4s, opacity .5s;
  opacity: 0;
  display: none;
}
.sidenav-left.ng-animate {
  display: block;
}
.sidenav-left.ng-animate.open-add-active {
  left: 0px;
  opacity: 1;
}
.sidenav-left.open {
  display: block;
  left: 0px;
  opacity: 1;
}
.sidenav-right {
  right: -510px;
  width: 500px;
  display: none;
  transition: right .4s;
}
.sidenav-right.ng-animate {
  display: block;
}
.sidenav-right.ng-animate.open-add-active {
  right: 0px;
}
.sidenav-right.open {
  display: block;
  right: 0px;
}
.sidenav-bottom {
  bottom: -220px;
  top: initial;
  width: 100%;
  height: 210px;
  display: none;
  z-index: 35;
  transition: bottom .4s;
}
.sidenav-bottom.ng-animate {
  display: block;
}
.sidenav-bottom.ng-animate.open-add-active {
  bottom: 0px;
}
.sidenav-bottom.open {
  display: block;
  bottom: 0px;
}
.panel {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}
.panel1 {
  background-color: #e0e0e0;
}
.panel2 {
  background-color: #5c6bc0;
}
.panel3 {
  background-color: #66bb6a;
}
.panel4 {
  background-color: #42a5f5;
}
